
body {
    margin: 0;
    background: rgb(89, 44, 21); /* Deep brown color inspired by Ambon's earthy tones */
    position: relative;
    font-family: quicksand, sans-serif; /* Generic font family */
}

canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 {
    color: #20ca5c; /* Deep forest green color for headers */
    font-size: 45px;
    margin-top: 5px; /* Create space between header and content */
}

p {
    color: #ffffff; /* Dark forest green color for paragraphs */
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
   /* background-color: #116b3157 */
}

html {
    text-align: center;
}


.style2 {
    filter: none;
}

.topnav {
    background-color: #20ca5c;
    
}
.topnav a{
    text-decoration: none; /* Remove default underline */
    color: #ffffff;
    font-size: 36px;
 /*   border-right: 1px solid #c9ffe9; /* Solid line between elements */
   /* border-left: 1px solid #c9ffe9; /* Solid line between elements */
padding-left: 4px;
padding-right: 4px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 17px;
    text-align: center;
    color: #ffffff;
    background-color: #20ca5c; /* Warm brown background inspired by Ambon's soil */
    padding: 0px; /* Padding for footer content */
}


img {
    max-width: 20%;
    height: auto;
    color: #c9ffe9; /* Light green for images */
  }

  a {
    color: #20ca5c; /* Dark forest green for links */
  }

.nav a {
    color: #ffffff; /* Dark forest green color for paragraphs */
    font-size: 30px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;

   /* background-color: #116b3157 */
}

  .lightgallery1 a {
    height: auto;
  }

  .lightgallery1 a img {
    margin: 4px;
    max-width: 20%;
    background-color: #c9ffe9;
  }

  /* New CSS for image dimensions */
  .gallery-image {
    width: 300px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the specified dimensions */
  }

button {
    border: none;
    color: #ffffff; /* White color for button text */
    background-color: #20ca5c; /* Deep forest green for button background */
    padding: 15px 52px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    border-radius: 5px; /* Rounded corners for button */
    margin-top: 20px; /* Spacing above button */
}

strong {
    color: #20ca5c; /* Change text color to green */
}

li {
    color: #20ca5c; /* Change text color to green */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body {
        margin: 0;
        background: rgb(89, 44, 21); /* Deep brown color inspired by Ambon's earthy tones */
        position: relative;
        width: 100%;
    }

    canvas {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }

    button {
        color: #ffffff;
        background-color: #20ca5c;
        padding: 30px 104px;
        text-align: center;
        display: inline-block;
        font-size: 40px;
        border: none;
    }

    p {
        color: #ffffff;
        bottom: 0;
        font-size: 40px;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
    }

    .topnav {
        background-color: #20ca5c;
        
    }
    .topnav a{
        text-decoration: none; /* Remove default underline */
        color: #ffffff;
        font-size: 50px;
    padding-left: 4px;
    padding-right: 4px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        font-size: 22px;
        text-align: center;
        color: #ffffff;
        background-color: #20ca5c; /* Warm brown background inspired by Ambon's soil */
        padding: 0px; /* Padding for fo
        oter content */
    }
    .nav a {
        color: #ffffff; /* Dark forest green color for paragraphs */
        font-size: 30px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
       /* background-color: #116b3157 */
       white-space: nowrap;

    }
}
